* {
    box-sizing: border-box;
}

.bandeau {
  padding-top: 50px;
  text-align: center;
  background-color: #dfdfdf;
}

.index-options {
  text-align: center;
  position: relative;
}

.index-options .buttons {
  top: 50%;
  margin: 0 auto;
  width: 100%;
}

.index-options .buttons .button {
  margin: 30px;
}

.barreNavigation.responsive .recherche-nav, .recherche-nav {
  display: none;
}

.listeImage {
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}
.image{
    flex:33%;
    max-width:33%;
    padding: 3px;
    margin-top: 30px;
}

.image .lien {
    display: block;
    text-align: center;
}

.image .affichage, .image .lienAffichage {
    width: 100%;
}
@media(max-width:800px){
    .image {
        flex:50%;
        max-width:50%;
    }
}
@media(max-width:400px){
    .image {
        flex:100%;
        max-width:100%;
    }
}
