*{
  padding: 0;
  margin: 0;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.suggestions { 
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  left: inherit;
  right: inherit;
}

#barreRecherche {
  width: 200px;
}

.suggestions div {
  width: 200px;
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
}

.suggestions div:hover {
  background-color: #e9e9e9; 
}

.inline {
  display: inline-block;
}
#contenuTout{
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
#contenu{
  flex:1;
}
.barreNavigation{
  width: 100%;
  text-align: right;
  background-color: #333333;
  height: 50px;
}
.barreNavigation .icon, .barreNavigation .lienBarreNavigation, .barreNavigation .recherche-nav {
  background-color: #333333;
}
.barreNavigation .icon {
  display: none;
}
.lienBarreNavigation{
  text-align: center;
  height: 100%;
  text-decoration: none;
  margin-right: 10px;
  color: black;
  line-height: 50px;
  color: #fff;
}

.recherche-nav {
  margin-right: 30px;
  display: inline;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .element-pdp {
  display: inline-block;
  line-height: 50px;
  margin-right: 10px;
}

body {
  margin-bottom: 75px;
}
@media (max-width: 1024px) {
  .barreNavigation {
    text-align: left;
  }
  .lienBarreNavigation, .recherche-nav {
    display: none;
  }
  .barreNavigation .icon {
    display: block;
    height: 50px;
  }
  .barreNavigation.responsive {
    width: 100%;
    position: relative;
  }
  .barreNavigation.responsive .icon {
    display: block;
    height: 50px;
  }
  .barreNavigation.responsive .lienBarreNavigation, .barreNavigation.responsive .recherche-nav {
    display: block;
    text-align: center;
    width: 100%;
  }
  .fa {
    line-height: 0;
  }
  .hamburger {
    width: 50px;
    height: 80%;
    margin-left: 10px;
    margin-top: 5px;
  }
}
