* {
    box-sizing: border-box;
}

.listeImage {
	display: flex;
	
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}
.image{
    flex:33%;
    max-width:33%;
    padding: 3px;
}

.image a {
    display: block;
    text-align: center;
}

.image img {
    width: 100%;
}
@media(max-width:800px){
    .image {
        flex:50%;
        max-width:50%;
    }
}
@media(max-width:400px){
    .image {
        flex:100%;
        max-width:100%;
    }
}