hr {
  clear: left;
}

.avatar_membre {
  float: left;
  height: 100px;
  width: 100px;
  padding: 10px;
}

.infos_membre fieldset {
  border: unset;
}

.infos_membre label {
  display: block;
}

.gallerie {
  width: 50%;
  display: flex;
  margin: 0 auto;
}

.conteneur_gallerie {
  text-align: center;
}

.conteneur_gallerie header{
  text-align: left;
}
.transaction, .transaction tr, .transaction td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}
.transaction a{
 padding: 0;
 margin: 0;
}

.colonne {
  flex: 33%;
  padding: 5px;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS

}
