.barreNavigation.responsive .recherche-nav, .recherche-nav {
  display: none;
}
.conteneur_formulaire {
  margin: 0 auto;
  width: 80%;
}

.inline {
  text-align: center;;
}

.champ {
  flex: column;
}

.center {
  text-align: center;
}

.retour {
  text-align: right;
  flex: auto;
}
