.conteneur_formulaire {
  margin: 0 auto;
  width: 80%;
}

.inline {
  text-align: center;
}

.champ {
  margin: 10px;
  flex: column;
}

.center {
  text-align: center;
}

.retour {
  text-align: right;
  flex: auto;
}

#drop_zone
{
  text-align: center;
	font-weight: bold;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
  padding: 30px;
  margin: 10px;
}

#drop_zone.hover
{
	border-style: solid;
}

